@import url(./fonts.css);
@import url(./variables.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.main-container-login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-color);
  min-height: 100vh;
}

article.aside-presentation{
  display: flex;
  flex-direction: column;
  width: 900px;
}

.aside-presentation > .clock-img{
  width: 53px;
  margin: 16px;
}

.aside-presentation > .text-todo-presentation{
  font-family: 'Telex';
  font-size: 24px;
  font-weight: 400;
  margin-left: 16px;
  color: var(--light-color);
}

.aside-presentation > .tasks-img{
  width: 480px;
  height: 500px;
  margin-top: auto;
  margin-left: auto;
  transform: translateX(128px);
}

article.form-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins";
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: var(--light-color);
}

.form-container{
  width: 455px;
}

h1.text-login{
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}

.form-container > input{
  width: 450px;
  height: 40px;
  padding-left: 3px;
  margin-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #808080;
  font-weight: 500;
  font-size: 20px;
  color: #808080;
}

.form-container > .btn-login{
  width: 455px;
  height: 47px;
  margin: 32px 0;
  border: 1px solid #E4D9D9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: var(--light-color);
  font-size: 24px;
  font-weight: 700;
  background-color: var(--primary-color);
  cursor: pointer;
}

.form-container > .text-no-account{
  font-size: 20px;
  font-weight: 500;
  color: #808080;
}